@font-face {
  font-family: "comic font";
  src: url(fonts/badaboom_bb/BADABB__.TTF);
}

@font-face {
  font-family: "calligraphic font";
  src: url(fonts/billyscriptian/Billy\ Scriptian.ttf);
}

@font-face {
  font-family: "naration box";
  src: url(fonts/narationbox/animeace2_reg.ttf);
}

@font-face {
  font-family: "Rubik Mono One";
  src: url(fonts/rubikmonoone/RubikMonoOne-Regular.ttf);
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  overflow-x: hidden;
  --logo-size: 250px;
  --nav-height: 2.4rem;
  --card-color: #0d343f;
  --neon-color: #45fcad;
  --gold-color: #fed004;
  --background-blue: #0d243f;
}

header {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

header .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

header .background > img {
  position: absolute;
  width: auto;
  min-height: 130%;
  min-width: 100%;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;
  z-index: 0;
}

header .header-logo {
  position: absolute;
  display: flex;
  margin-top: calc(100vh - var(--logo-size) - 9rem);
  justify-content: center;
  width: 100%;
  transform: translate(0, 0%);
  z-index: 3;
}

header .header-logo img {
  height: var(--logo-size);
  position: fixed;
}

/* Fade filter */
header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: linear-gradient(
    transparent,
    var(--background-blue) 20%,
    var(--background-blue),
    var(--neon-color) 99.9%
  );
  opacity: 0.6;
}

main {
  position: relative;
  background: linear-gradient(var(--neon-color), var(--background-blue) 1%);
  width: 100%;
  margin: 0;
  height: fit-content;
  padding-bottom: 10rem;
}

/* shark image in the background */
main::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: url(img/sharks/shark2.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.02;
  z-index: 0;
}

nav {
  position: relative;
  display: flex;
  height: var(--nav-height);
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 2.3rem;
  padding: 10px 0;
  z-index: 10;
  background-color: var(--background-blue);
  /* border-bottom: var(--neon-color) 3px solid; */
  background: linear-gradient(
    var(--background-blue),
    var(--background-blue) 88%,
    var(--neon-color) 99.9%
  );
}

nav .nav-options {
  display: flex;
  align-items: center;
  font-family: "comic font";
  margin-left: 1.5rem;
}

nav .nav-options a {
  text-decoration: none;
  color: var(--neon-color);
  margin: 0 1rem;
  cursor: pointer;
}

nav .nav-options .selected {
  color: #fed004;
}

nav .nav-options a:hover {
  color: #fed004;
  font-weight: 600;
}

nav .sharkattack-epigraphy {
  font-family: "calligraphic font";
  font-size: 1rem;
  color: var(--gold-color);
  margin-left: auto;
  margin-right: 2rem;
}

.season-label {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10rem 0;
}

.season-label > div {
  color: white;
  text-align: center;
  font-family: "comic font";
  font-size: 4rem;
  transform: translate(-50% -150%);
  top: 50%;
  left: 50%;
  z-index: 2;
}

.season-label::before,
.season-label::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: white;
}

.positions {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.position-card {
  width: 20rem;
  height: 16rem;
  background-color: var(--card-color);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  box-shadow: 10px 5px 20px black;
}

.not-active-league {
  opacity: 0.4 !important;
}

.position-card > div {
  width: 100%;
}

.position-card .league-title {
  box-shadow: 0px 10px 40px black;
  padding: 10px 0;
  text-align: center;
  font-size: 1.35rem;
  color: white;
  background: var(--card-color);
}

.position-card .league-title .round {
  font-size: 0.8rem;
  color: rgb(160, 190, 190);
}

.position-card .position-games {
  font-size: 5rem;
  text-align: center;
  color: white;
  font-family: "Rubik Mono One";
}

.position-card .status {
  text-align: center;
  background-color: var(--card-color);
  color: white;
  padding-bottom: 5px;
}

.next-match {
  margin: 15rem 0px 3rem 0;
  width: 100%;
}

.next-match-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  /* padding: 0 3rem; */
  /* background: linear-gradient(90deg, transparent, transparent 3%, white 70%); */
  background: url(img/generic/comicbg.jpg);
  overflow: hidden;
  width: 100%;
}

.next-match-container > div {
  margin-left: 4rem;
}

.next-match-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-family: "comic font";
  color: rgb(236, 158, 15);
  z-index: 1;
  line-height: 3.9rem;
  margin-left: -6rem;
  width: fit-content;
  left: 0px;
}

.next-match-label .main-text,
.next-match-label::after {
  display: block;
  width: 100%;
  z-index: 1;
}

.next-match-label::after {
  content: "NEXT \A MATCH";
  white-space: pre;
  position: absolute;
  color: black;
  left: 3px;
  z-index: 0;
  font-size: 5.2rem;
}

.next-opposing-team {
  z-index: 1;
}

.next-opposing-team img {
  width: 10rem;
}

.next-match-scheduled {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "naration box";
  overflow: visible;
  background-repeat: no-repeat;
  white-space: nowrap;
  margin-left: 55rem;
}

.next-match-scheduled::after {
  content: "";
  display: block;
  position: absolute;
  background: url(img/generic/comic-boom.png);
  background-size: 100%;
  background-position: 50%;
  width: 250%;
  height: 170%;
  z-index: 0;
}

.next-match-details {
  padding: 0.8rem 1.2rem;
  color: var(--background-blue);
  font-family: "naration box";
  background-color: rgb(255, 255, 186);
  height: 20%;
  white-space: nowrap;
  border: 1px solid rgb(225, 225, 123);
  margin-left: -6rem;
}

.next-match-league {
  font-size: 1rem;
}

.next-match-round {
  font-size: 0.6rem;
  margin-bottom: 0.3rem;
}

.next-match-date,
.next-match-location {
  position: relative;
  z-index: 2;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.last-five-games {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.last-five-games .game-outcome {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  border: white 1px solid;
  margin: 0 0.1rem;
}

.last-five-games .win {
  background-color: rgb(10, 255, 10);
}

.last-five-games .lost {
  background-color: rgb(205, 10, 10);
}

.schedule-button-container {
  display: flex;
  justify-content: center;
}

/* .schedule-button-container button, */
.schedule-button-container > a {
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  padding: 0.6rem 2rem;
  background-color: var(--background-blue);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 2px white solid;
  z-index: 2;
}

footer {
  background: linear-gradient(
    var(--background-blue),
    80%,
    var(--neon-color) 100%
  );
  width: 100vw;
  overflow: hidden;
}

footer .sponsors {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .sponsors img {
  width: 20rem;
  cursor: pointer;
  width: 22vw;
}

footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
}

footer .contact > a {
  text-decoration: none;
  margin: 0 2rem;
  cursor: pointer;

  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
}

footer .contact img {
  width: 3rem;
  margin-right: 0.6rem;
}

.coming-soon {
  position: relative;
  font-family: "Rubik Mono One", monospace;
  text-align: center;
  color: white;
  font-size: 3rem;
  margin: 5rem 0;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    overflow-x: hidden;
    --logo-size: 160px;
    --nav-height: 1.3rem;
  }

  header .header-logo {
    margin-top: calc(100vh - var(--logo-size) - 13rem);
  }

  footer .sponsors {
    flex-direction: column;
  }

  footer .sponsors img {
    width: 90vw;
  }

  footer .contact > a {
    margin-bottom: 1.1rem;
  }

  .positions {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .position-card {
    width: 80vw;
    margin-bottom: 2rem;
  }

  .season-label > div {
    font-size: 2rem;
    /* padding: 10px 2rem; */
  }

  .next-match .next-match-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 80vw;
    /* text-align: right; */
  }

  .next-match-container::after,
  .next-match-container::before {
    display: none;
  }

  .next-opposing-team {
    text-align: left;
  }

  .next-match-label {
    text-align: left;
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .next-match-league,
  .next-match-round,
  .next-match-date,
  .next-match-location {
    padding-left: 4rem;
  }

  .next-match-league {
    font-size: 1.5rem;
  }

  .next-match-round {
    font-size: 0.7rem;
  }

  .next-match-date,
  .next-match-location {
    font-size: 1rem;
    padding-bottom: 5px;
  }

  footer .contact {
    flex-direction: column;
    align-items: flex-start;
  }

  header .background > img {
    animation: x-axis-scroll 16s ease-in-out 0s alternate infinite;
  }

  @keyframes x-axis-scroll {
    from {
      transform: translate(-23%, 0);
      /* left: 420%; */
    }
    to {
      transform: translate(-78%, 0);
    }
  }
}
