html,
body {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  overflow-x: hidden;
  --logo-size: 160px;
  --nav-height: 4.5rem;
  --card-color: #0d343f;
  --neon-color: #45fcad;
  --gold-color: #fed004;
  --background-blue: #0d243f;
  --header-img-ratio-width: 9;
  --header-img-ratio-height: 16;
}
