html,
body {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  overflow-x: hidden;
  --logo-size: 160px;
  --nav-height: 4.5rem;
  --card-color: #0d343f;
  --neon-color: #45fcad;
  --gold-color: #fed004;
  --background-blue: #0d243f;
  --nebo-color: #455a52;
  --header-img-ratio-width: 1.78;
  --header-img-ratio-height: 1;
  --main-font: "Epunda Sans", sans-serif;
  --secondary-font: "Teko", sans-serif;
  --calligraphic-font: "Ephesis", cursive;
  --aggressive-font: "Tektur", sans-serif;
  --team-name-font: "Oxanium", sans-serif;
}

html.unscrollable,
html.unscrollable body {
  overflow: hidden;
}
