.no-text-shadow {
  text-shadow: none;
}

.full-next-match-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.7);
}

.full-next-match-container .close-full-view {
  position: absolute;
  top: 50px;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.full-next-match-container .close-full-view:hover {
  transition-duration: 0.3s;
  color: #999;
}

.full-next-match-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40rem;
  width: 100%;
  padding: 4rem 0 0 0;
  background: linear-gradient(-48deg, rgb(30, 30, 30) 70%, #222 10%);
  margin: auto 0;
}

.full-next-match-wrap .full-next-match-title,
.next-match-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: calc(2.3rem * 4);
  height: fit-content;

  padding-bottom: 4rem;

  text-align: center;
  color: white;

  font-size: 3.9rem;
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-style: normal;

  line-height: 2.8rem;
}

.full-next-match-wrap .full-next-match-title > div,
.next-match-label > div {
  color: #222;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 1rem; */
  /* height: 30px; */
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.4rem;
}

.full-next-match-wrap .full-next-match-details-wrap {
  position: relative;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 3rem min-content min-content auto;
  justify-content: center;
  align-items: flex-start;
  height: 25rem;
  width: 100%;

  background-repeat: no-repeat;
  background-size: auto 25%;
  background-position: 90% 100%;
  z-index: 2;
}

.full-next-match-wrap .full-next-match-details-wrap > div {
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.full-next-match-competition {
  grid-column: 1;
  grid-row: 1;

  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;

  border-radius: 10px;
  background-color: dodgerblue;

  padding: 0 8px;
  height: 1.8rem !important;
}

.full-next-match-round {
  font-size: 2rem;
  padding-left: 0.4rem;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.full-next-match-team-name,
.full-next-match-date,
.full-next-match-place,
.no-match {
  grid-column: 1 / -1; /* stretch across both columns */
}

.full-next-match-date {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;

  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  font-size: 1.5rem;

  line-height: 1.6rem;
}

.neon-time {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--neon-color);
}

.full-next-match-place {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;

  width: 70%;
  font-size: 0.9rem;

  border: none;
  border-radius: 15px;
  background-color: #222;
  color: white;

  padding: 1rem;
  margin: 2rem;

  cursor: pointer;
  z-index: 1;

  box-shadow: 0px 0px 7px 0.1px rgba(200, 200, 200, 0.5);
}

.full-next-match-place img {
  display: inline;
  width: 1.4rem;
  margin: 0 0.2rem;
}

.full-next-match-place > div {
  margin: 0 auto;
  flex: 1;
  overflow: hidden;
  white-space: nowrap; /* keep text on one line */
  text-overflow: ellipsis;
}

.full-next-match-team-name {
  padding: 1rem 0 1rem 0;
  justify-self: center;
  font-size: 2.2rem;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  border-top: rgba(50, 50, 50, 0.4) solid 1px;
}

.no-match {
  font-size: 1.5rem;
  color: white;
  width: 90%;
  justify-self: center;
  align-self: center;
  z-index: 4;
}

.next-match-wrap .no-match {
  font-size: 0.9rem;
}

.next-match-wrap {
  position: relative;
  width: 95vw;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  margin: 2rem auto;
  overflow: hidden;
  font-family: "Teko", sans-serif;
}

.next-match-wrap .next-match-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(-90deg, rgb(30, 30, 30) 50%, #222 50%);
}

.next-match-main .next-match-header {
  position: relative;
  width: 100%;
}

.next-match-header .next-match-competition {
  display: flex;

  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;

  border-radius: 10px;
  background-color: dodgerblue;

  padding: 0 8px;
  margin: 0;
  transform: translate(0, 100%);
  height: 1.8rem !important;
}

.next-match-main .next-match-teams {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-match-teams > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  height: fit-content;
  margin: 0 0.5rem;
}

.next-match-teams > div > img {
  width: 5rem;
  margin-bottom: 1.5rem;
}

.next-match-teams > div .team-name {
  font-size: fit-content;
  color: white;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
}

.next-match-teams .vs-vertical-line {
  width: 1.5px;
  height: 4rem;
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 0);
}

.next-match-main .next-match-countdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.next-match-main .next-match-countdown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.next-match-main .next-match-countdown > div.colons {
  color: white;
  justify-content: flex-start;
  height: 100%;
  margin: 0 0 auto 0;
}

.next-match-main .next-match-countdown > div .counter {
  color: white;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 3px;
  border-radius: 5px;
  width: 1.2rem;
  text-align: center;
}

.next-match-main .next-match-countdown > div .countdown-label {
  color: var(--neon-color);
}

.next-match-wrap .next-match-footer {
  display: flex;
  background-color: white;
  height: 4rem;
}

.next-match-footer .next-match-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;

  margin: 0 auto 0 1rem;
  line-height: 1.6rem;
}

.next-match-footer .next-match-date .neon-time {
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
}

.next-match-footer .see-full-next-match-btn {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: auto 10px;
  padding: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 0.2);
  border-radius: 15px;

  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.next-match-footer .see-full-next-match-btn:hover {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

/* Slider */
.sponsor-slider.swiffy-slider {
  width: 98vw;
  height: 76vh;
  margin: 5rem auto;
}

.sponsor-slider .slider-nav {
  z-index: 3;
}

.sponsor-slider .slide-body {
  z-index: 2;
}

.sponsor-slider .slider-indicators {
  z-index: 4;
}

.swiffy-slider.sponsor-slider
  .slider-container
  li
  .slide-body
  button.cta-slide-btn {
  position: relative;
  padding: 10px;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin: 0;

  box-shadow: 0px 0px 3.5px 0px rgb(190, 190, 190);
}

.sponsor-slider .slide-body button.cta-slide-btn img {
  width: 90%;
}

.sponsor-slider .slide-body button.ig-slide-btn {
  background: linear-gradient(
    to top right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  color: white;
}

.sponsor-slider .slide-body button.web-slide-btn {
  background-color: rgb(150, 200, 250);
}

.sponsor-slider .slide-body button.tiktok-slide-btn {
  background-color: rgb(40, 40, 40);
}

.sponsor-slider .nebo-slide .slide-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: 0rem 0 0 2rem;
  width: 80%;

  z-index: 2;
}

.sponsor-slider .nebo-slide .slide-body > p {
  margin-left: 0.5rem;
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.sponsor-slider .nebo-slide .slide-body > p > span {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  padding-left: 0.5rem;
}

.sponsor-slider .nebo-slide .slide-body button {
  margin-top: 5rem;
  margin-right: auto;
}

.sponsor-slider.swiffy-slider
  .slider-container
  li.nebo-slide
  .nebo-slider-opacity-logo {
  position: absolute;
  width: 27rem;
  top: -5rem;
  left: -4rem;
  z-index: 1;
  opacity: 0.08;
  animation: nebo-logo-flow 7s linear 0s forwards;
}

.sponsor-slider.swiffy-slider
  .slider-container
  li.nebo-slide
  .nebo-slider-logo {
  display: inline;
  width: 13rem;
  margin-right: auto !important;
}

.sponsor-slider.swiffy-slider .slider-container > li {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.sponsor-slider.swiffy-slider .slider-container li.nebo-slide::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #879c95, #879c95, transparent);
  z-index: 1;
}

.sponsor-slider.swiffy-slider .slider-container li.nebo-slide {
  background: url(../../img/slider/nebo.png);
  background-size: auto 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
}

.sponsor-slider.swiffy-slider .slider-container li.ab-slide {
  background-color: #131212;
}

.sponsor-slider.swiffy-slider .slider-container li.ab-slide img {
  margin: auto;
  width: 90%;
}

.sponsor-slider.swiffy-slider .slider-container li.ab-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  background: url(../../img/auxilary/lightning.png);
  background-position: center -10px;
  background-repeat: no-repeat;
  background-size: auto 95%;
  transform: translate(-50%, 0) scale(1.3) rotateZ(10deg);
  z-index: 3;
  animation: lightning-strike 7s infinite;
}

.sponsor-slider.swiffy-slider .slider-container li.mini-van-taxi-slide {
  background-color: #000;
  flex-direction: column;
  margin-top: auto;
  justify-content: flex-start;
  gap: 3rem;
  align-items: flex-start;
}

.sponsor-slider.swiffy-slider
  .slider-container
  li.mini-van-taxi-slide
  .slide-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.sponsor-slider.swiffy-slider
  .slider-container
  li.mini-van-taxi-slide
  .slide-body
  > img {
  width: 50%;
}

.sponsor-slider.swiffy-slider .slider-container li.mini-van-taxi-slide video {
  width: 100%;
}

.sponsor-slider.swiffy-slider
  .slider-container
  li.mini-van-taxi-slide
  .cta-slide-btn {
  background: rgb(40, 40, 40);
}

.sponsor-slider li.sayprint-slide {
  background-color: #112138 !important;
  z-index: 2 !important;
}

.sponsor-slider li.sayprint-slide::before {
  content: "";
  position: absolute;
  top: 73%;
  display: block;
  width: 110%;
  height: 7px;
  background-color: #000;
  opacity: 0.05;
  border-radius: 50%;
  box-shadow: 1px 1px 15px 10px black;
  z-index: 2;
}

.sponsor-slider li.sayprint-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0; /* cover the container */
  box-shadow: inset 25px 0 45px -8px rgba(0, 0, 0, 0.5),
    /* left side */ inset -15px 0 45px -8px rgba(0, 0, 0, 0.5); /* right side */
  pointer-events: none; /* clicks go through */
  z-index: 2 !important; /* above the img */
}

.sponsor-slider li.sayprint-slide .slide-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1 !important;
}

.sponsor-slider.swiffy-slider
  .slider-container
  li.sayprint-slide
  .slide-body
  > img {
  position: relative;
  width: 100%;
  z-index: 1 !important;
}

.sponsor-slider.swiffy-slider
  .slider-container
  li.sayprint-slide
  .slide-body
  > button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 89%;
  margin: 0 auto;
  z-index: 2;
}

.sponsor-slider li.zaharias-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0; /* cover the container */
  pointer-events: none; /* clicks go through */
  z-index: 2 !important; /* above the img */
  box-shadow: inset 25px 45px 30px -8px rgba(0, 0, 0, 0.5),
    /* left side */ inset -15px -45px 30px -8px rgba(0, 0, 0, 0.5); /* right side */
  z-index: 2;
}

.meet-zaharias-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  z-index: 1;
}

.meet-zaharias-wrap > img {
  width: 70%;
  margin-left: -4rem;
}

.meet-zaharias-text {
  /* width: 30%; */
  margin-left: -2.3rem;
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
}

.meet-zaharias-title {
  font-size: 2rem;
  padding: 20px 0;
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.meet-zaharias-descr {
  font-size: 0.9rem;
  padding: 3px;
}

.zaharias-social-btn-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
}

.zaharias-social-btn-wrap > a {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  margin: 0rem 0.3rem 0 0;
  cursor: pointer;
  box-shadow: 0px 0px 3.5px 0px black;
}

.zaharias-social-btn-wrap > a > img {
  width: 90%;
}

.zaharias-ig-btn {
  background: linear-gradient(
    to top right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

.zaharias-tiktok-btn {
  background-color: rgb(40, 40, 40);
}

@keyframes nebo-logo-flow {
  0% {
    width: 17rem;
  }
  100% {
    width: 20rem;
  }
}

@keyframes lightning-strike {
  0%,
  80% {
    opacity: 0;
    filter: brightness(1) hue-rotate(0deg);
  }

  /* ⚡ Sudden flash */
  81% {
    opacity: 1;
    filter: brightness(3) hue-rotate(0deg);
  }

  /* ⚡ Bounce #1 */
  82% {
    opacity: 0.6;
    filter: brightness(2.2) hue-rotate(20deg);
  }

  /* ⚡ Bounce #2 */
  83% {
    opacity: 1;
    filter: brightness(3) hue-rotate(-20deg);
  }

  /* ⚡ Bounce #3 */
  84% {
    opacity: 0.7;
    filter: brightness(2.4) hue-rotate(15deg);
  }

  /* ⚡ Bounce #4 (final flicker) */
  85% {
    opacity: 1;
    filter: brightness(3) hue-rotate(-15deg);
    transform: translate(-50%, 0) scale(1.3) rotateZ(10deg);
  }

  /* 🌙 Smooth after-glow fade */
  95% {
    opacity: 0;
    filter: brightness(1.3) hue-rotate(0deg);
  }

  100% {
    opacity: 0;
    filter: brightness(1) hue-rotate(0deg);
  }
}
