main {
  margin-top: var(--nav-height);
  padding: 5rem 0;
  --ab-x-sharks-bg-color: #131212;
}

.squad-grid {
  width: 80vw;
  margin: auto;
  display: grid;
  gap: 3rem; /* spacing between items */
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  --home-shirt-background: url(../../img/shirts/green.png);
  --home-shirt-outline: var(--background-blue);
  --away-shirt-background: url(../../img/shirts/black.png);
  --away-shirt-outline: white;
}

.squad-grid .player {
  width: 300px;
  height: 300px;
  background: var(--home-shirt-background);
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* border: rgba(0, 0, 0, 1) solid 2px; */
  border-radius: 12px;
  box-shadow: inset 0px 0px 15px 8px black;
}

.player.away {
  background: url(../../img/shirts/black.png);
}

.player .shirt-neck,
.player .left-block,
.player .right-block {
  left: 50%;
  top: -22%;
  width: 80%;
  height: 100%;
  background-color: rgba(247, 247, 250, 1);
}

.player .shirt-neck {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 2;
  border: solid 10px var(--home-shirt-outline);
}

.player.away .shirt-neck {
  border: solid 2px var(--neon-color);
  outline: 7px solid var(--away-shirt-outline);
}

.player .left-block,
.player .right-block {
  display: block;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%) rotateZ(70deg);
  z-index: 2;
}

.player .right-block {
  transform: translate(-50%, -50%) rotateZ(-70deg);
  left: 100%;
}

.player .left-arm,
.player .right-arm {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0;
  top: 35%;
  background-color: rgba(247, 247, 250, 1);
  border-radius: 100%;
  width: 15%;
  height: 55%;
  border: solid 10px var(--home-shirt-outline);
}

.player.away .left-arm,
.player.away .right-arm {
  border: solid 2px var(--neon-color);
  outline: 7px solid var(--away-shirt-outline);
}

.player .right-arm {
  left: 100%;
}

.player .player-position {
  position: absolute;
  background-color: transparent;
  font-size: 1.3rem;
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  z-index: 3;
  background-color: #e47041;
  color: white;
  padding: 5px;
  width: 5rem;
  border-bottom-right-radius: 7px;
  box-shadow: 0 0 5px 3px black;
}

.player .player-name {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 600;
  top: 48%;
  left: 50%;
  color: var(--home-shirt-outline);
  text-shadow: -2px -2px 0 var(--neon-color), 2px -2px 0 var(--neon-color),
    -2px 2px 0 var(--neon-color), 2px 2px 0 var(--neon-color);
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
}

.player .player-name.long {
  font-size: 1.9rem;
}

.player.away .player-name {
  color: var(--away-shirt-outline);
  text-shadow: none;
}

.player .player-number {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  top: 85%;
  left: 50%;
  color: var(--home-shirt-outline);
  text-shadow: -2px -2px 0 var(--neon-color), 2px -2px 0 var(--neon-color),
    -2px 2px 0 var(--neon-color), 2px 2px 0 var(--neon-color);
}

.player.away .player-number {
  color: var(--away-shirt-outline);
  text-shadow: none;
}

.ab-player-logo {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 10px;
  height: 2.5rem;
  z-index: 5;
}

.squad-title {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.kit-selection-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 5rem 0;
}

.kit-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  padding: 0;
  background: none;
  border: none;
  margin: 0 1rem;
  cursor: pointer;
  z-index: 1;
}

.kit-toggle img {
  width: 100%;
  cursor: pointer;
}

.zaharias-wrap {
  display: none;
  position: fixed;
  width: 10rem;
  height: auto;
  right: 0;
  bottom: -2rem;
  z-index: 20;
}

.zaharias {
  width: 100%;
}

.text-bubble {
  position: absolute;
  left: -1rem;
  top: -2rem;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.text-bubble img {
  width: 100%;
}

.text-bubble .zaharias-text {
  position: absolute;
  left: 50%;
  top: 45%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.ab-x-sharks-banner {
  text-align: center;
  width: 100%;
  height: 15rem;
  background-color: var(--ab-x-sharks-bg-color);
}

.ab-x-sharks-banner img {
  height: 100%;
}
