header {
  height: calc(
    50vw * var(--header-img-ratio-height) / var(--header-img-ratio-width)
  );
}

header .background {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}

header .background > img {
  width: 50%;
  height: auto;
  /* animation: none; */
}

header .background::before,
header .background::after {
  width: 50%;
  height: calc(
    50vw * var(--header-img-ratio-height) / var(--header-img-ratio-width)
  );
}
