.squad-grid {
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}

.squad-title {
  font-size: 3.5rem;
  margin-left: 3rem;
  text-align: left;
}

.zaharias-wrap {
  width: 20rem;
}

.text-bubble {
  left: -1rem;
  top: -4.5rem;
  width: 19rem;
}

.text-bubble .zaharias-text {
  font-size: 1.3rem;
}
